body{
    margin: 0;
    font-family: Arial;
    background-image: url(back.jpg);
}
.Loginbox{
    background-color: #FFD8D8;
    width: 470px;
    height: 450px;
    display: flex;
    margin: auto;
    margin-top: 135px;
    border-radius: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.3)
}
.Loginbox .p1{
    padding-left: 77px;
}
.Loginbox .p2{
    padding-left: 60px;
}
input{
    width:  350px;
    height: 25px;
    border-radius: 17px;
    background-color: #F7F1E7;
    padding: 5px;
}
.cooking, .cookingicon {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 45%;
    height: auto;
    width: 90px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #F7F1E7;
    margin-left: 133px;
}
@media (max-width: 768px){
    .Loginbox{
        width: 90%;
        height: auto;
        padding: 20px;
        margin-top: 40px;
    }
    input{
        width: 95%;
        height: 35px;
        font-size: 16px;
    }
    button{
        width: 60%;
        margin-left: 0;
        display: block;
        margin: 15px auto;
    }
    .cookingicon{
        margin: 0 auto;
        display: block;
    }
    .cooking{
        width: 150px;
    }
}
@media(max-width: 480px){
    .Loginbox{
        width: 92%;
        margin-top: 25px;
        padding: 15px;
    }
    .cooking{
        width: 120px;
    }
}