body{
    margin: 0;
    font-family: Arial;
    background-color: #ffffff;
    text-align: center;
}
.nav h2{
    color: black;
    font-size: 16px;
    padding-left: 5px;
    font-family: 'Dancing Script';
}
.nav{
    padding: 6px 10px;
    background: #ffd8d8;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav a{
    color: black;
    font-size: 14px;
    padding-right: 5px;
    text-decoration: none;
}
img{
    display: block;
    margin: 20px auto;
}
p{
    max-width: 800px;
    margin: 15px auto;
}
h1,h2,h3{
    text-align: center;
    color: rgb(51, 51, 118)
}
 .fruitpan{
  width: 400px;
  height: 300;
}
@media(max-width:768px){
    .nav{
    flex-direction:row;
    padding:4px 8px;
  }
  .nav ul{
    flex-direction:row;
    gap:10px;
    margin:0;
  }
    img{
            max-width: 100%;
            height: auto;
        }
    p{
        padding: 0 15px;
    }
    .section , .sectionr{
        flex-direction: column;
    }
}
.bottom-nav{
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 65px;
background: #ffd8d8;
display: flex;
justify-content: space-around;
align-items: center;
box-shadow: 0 -3px 10px rgba(0,0,0,0.2);
z-index: 9999;
}

.bottom-nav a{
display: flex;
flex-direction: column;
align-items: center;
text-decoration: none;
color: black;
font-size: 12px;
}

.bottom-nav i{
font-size: 20px;
margin-bottom: 3px;
}

/* Add recipe button (mes) */
.add-btn{

color: black;
border: none;
width: 50px;
height: 50px;

font-size: 20px;
display: flex;
align-items: center;
justify-content: center;

cursor: pointer;
}
.bottom-nav{
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 45px;
background: #ffd8d8;
display: flex;
justify-content: space-evenly;
align-items: center;
box-shadow: 0 -3px 10px rgba(0,0,0,0.2);
z-index: 9999;
}

/* Search button në bottom nav */
.nav-btn{
background: none;
border: none;
cursor: pointer;
color: black;
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;
}

/* të gjitha button-at në bottom nav */
.bottom-nav button{
background: none;
border: none;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}

/* fsheh search bar në fillim */
#searchBar{
display:none;
}
.searchbar{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffd8d8;
    border-radius: 25px;
    color: white;
}
.imgsrch{
    width: 25px;
    height: auto;
    margin-left: 15px;
}
.searchbar p{
    padding-left: 5px;
}
#searchInput{
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    padding-left: 10px;
    padding: 10px;
}