body{
    margin: 0;
    font-family: Arial;
    background-color: #ffffff;
}
.nav h2{
    color: black;
    font-size: 16px;
    padding-left: 5px;
    font-family: 'Dancing Script';
}
.nav{
    padding: 6px 10px;
    background: #ffd8d8;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav a{
    color: black;
    font-size: 14px;
    padding-right: 5px;
    text-decoration: none;
}
.searchbar{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffd8d8;
    border-radius: 25px;
    color: white;
}
.imgsrch{
    width: 25px;
    height: auto;
    margin-left: 15px;
}
.searchbar p{
    padding-left: 5px;
}
#searchInput{
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    padding-left: 10px;
    padding: 10px;
}