body{
    margin: 0;
    font-family: Arial;
    background-color: #ffffff;
}
.nav h2{
    color: black;
    font-size: 16px;
    padding-left: 5px;
    font-family: 'Dancing Script';
}
.nav{
    padding: 6px 10px;
    background: #ffd8d8;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav a{
    color: black;
    font-size: 14px;
    padding-right: 5px;
    text-decoration: none;
}