body{
    background-image: url(cooking.png);
}
.Loginbox{
    background-color: #FFD8D8;
    width: 470px;
    height: 450px;
    display: flex;
    margin: auto;
    margin-top: 135px;
    border-radius: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    box-shadow: 0px 1px #000080;
}
input{
    width:  350px;
    height: 30px;
    border-radius: 17px;
    background-color: #F7F1E7;
    padding: 5px;
}
.cooking{
    width: 100px;
   margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 15px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 17px;
    background-color: #F7F1E7;
    margin-left: 133px;
}
