body{
    margin: 0;
    font-family: Arial;
    background-color: #ffffff;
    text-align: center;
}
.nav h2{
    color: black;
    font-size: 16px;
    padding-left: 5px;
    font-family: 'Dancing Script';
}
.nav{
    padding: 6px 10px;
    background: #ffd8d8;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav a{
    color: black;
    font-size: 14px;
    padding-right: 5px;
    text-decoration: none;
}
img{
    display: block;
    margin: 20px auto;
}
p{
    max-width: 800px;
    margin: 15px auto;
}
h1,h2,h3{
    text-align: center;
    color: rgb(51, 51, 118)
}
@media(max-width:768px){
    .nav{
    flex-direction:row;
    padding:4px 8px;
  }
  .nav ul{
    flex-direction:row;
    gap:10px;
    margin:0;
  }
    img{
            max-width: 100%;
            height: auto;
        }
    p{
        padding: 0 15px;
    }
    .section , .sectionr{
        flex-direction: column;
    }
}
.panacota{
    width: 400px;
    height: 300;
}
